/*font imports*/
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Poppins');


/* Animation */
@keyframes transitionHeader{
    0% {height: 50vh;}
    100%{height: 15vh;}
}

/*One font, One fall back font for the whole document*/
*{
    font-family: 'Karla',sans-serif;
    margin: 0; 
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
header{
    background-color: #4d29f0;
    color: white;
    padding: 2%;
    height: 15vh;
    animation-name: transitionHeader;
    animation-duration: 2s;
        
}

img{
    height: 50%;
    width: 25%;
}

nav{
    float: right;
    font-weight: bold; 
    width: 50%;
}
footer{
    font-family: 'Poppins', sans-serif;/*Footer specific font*/
    font-weight: 300;
    background-color: #3b21b3;
    width: 100%;
    text-align: center;
    color: white;
}

.twitterFeed{
    width: 25%;
    overflow-y: scroll;
    height: 500px;
    float: right;
    padding-top: 2.5%;
    
}

.mainSection{
    width: 75%;
    margin-right: 0px;
    padding-top: 5%;
    text-align: center;
    line-height: 250%;
    position:static;
    height: 50vh;
}

button{
    border: none;   
    padding: 1%;
    font-weight:bold;
    color: white;
    background: linear-gradient(to right, blue, purple);     /* Gradient*/
    border-radius: 50%;
}

.card{
    display: inline-block;
    width: 25%;
    height: 25vh;
    text-align: center;
    margin: 5% 2% 5% 5%;
}

.skills{
    background-color: #4d29f0;
    width: 100%;
    color: white;
}


.skills>h2{
    text-align: center;
    padding: 2.5%;
}

.profilePic{
    width: 15%;
}

.socialMedia{
    float: left;
    width: 20%;
    padding-top: 2.5%;
    text-align: right;  
    height: 75vh;
}

.socialMedia>ul>li{
    margin-top: 10%;
    font-weight: bold;
}

nav>ul>li{
    display: inline;
    margin-left: 5%;
}

nav>ul>li>a{      
    color: white;
}

nav>ul>li>a:hover{
    text-decoration: overline;
}

article{
    text-align: center; 
    width: 60%;
    float: right;
    padding:5%;
}

/* Attribute Selector */
a[href="http://instagram.com/yoosufmuneer"]{
    color: indianred;
}

/* Attribute Selector */
a[href="mailto:yoosuf.2016267@iit.ac.lk"]{
    color: darkslateblue;
}

img:first-child{
    margin-top: 2em;
    margin-bottom: 2em;
}

.aboutMe>p::first-letter{
    font-weight: bold;
}

form{
    text-align: center;
    padding:3.5%;
    width: 18%;
    height: 51vh;
    margin-left: 35%;
}

/* Structural Selector */
input,label{
    font-weight: bold;
    margin-top: 15%;
}

input{
    border: none;    
    border-bottom: solid 0.2em; /* Border*/
}
/* Attribute Selector */
input[type="submit"]{
    padding: 5%;
}

ul{
    text-decoration: none;
}

/* Negation Pseudo Class */
article:not(.aboutMe){
    width: 100%;
}

.blogPostOne>p,.blogPostTwo>p{
    margin:2.5%;
    width: 60%;
    margin-left: 20%;
}

form:first-child{   
    font-weight:bolder;
}

section>h2{
    padding-top: 2.5%;
    text-align: center;
}
    
/*Pseudo elements for generated content*/
q::before{
    content: "'";
}

q::after{
    content: "'";
}
